[user]
        name = Steven Heidel
        email = sheidel@linkedin.com
[branch]
        autosetuprebase = remote
[merge]
        ff = only
[linkedin]
	groups = madmen-dev-reviewers
	reviewers = oanashki
	publish = false
